{% extends 'base.html' %}
{%load static%}

{%block main%}

{% if laptop_list %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for laptop in laptop_list %}
    <div class="col">
        <div class="card h-100 shadow-sm">
           <a href="{% url 'store:laptop_detail' laptop.id %}" target="_blank"> <img src="{% static 'images/laptop-placeholder.jpg' %}" class="card-img-top" alt="{{ laptop.model_name }}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ laptop.brand }} {{ laptop.model_name }}</h5>
                <p class="card-text">
                    Processor: {{ laptop.processor }}<br>
                    GPU: {{ laptop.gpu }}<br>
                    RAM: {{ laptop.ram }} GB<br>
                    Storage: {{ laptop.storage }} TB
                </p>
                <h6 class="text-primary">$ {{ laptop.price }}</h6>
            </div>
            <div class="card-footer text-center">
                <form method="post" action="{%url 'store:add_to_cart' laptop.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success w-100">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="text-center">No laptops available.</p>
{% endif %}

{%endblock%}