<style>
  .navbar {
    background-color: #9cc363;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
  }

  .navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
  }

  .navbar-brand:hover {
    color: #00b383;
  }

  .login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
  }

  .login-button:hover {
    background-color: #00b383;
  }

  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }

  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  .nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
  }

  .nav-link:hover,
  .nav-link.active {
    color: #000;
  }

  @media (min-width: 991px) {
    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #009970;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
</style>

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" href="#">Soroush Store</a>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link max-lg-z" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link max-lg-z" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link max-lg-z" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link max-lg-z" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    {% if not user.is_authenticated %}
    <a href="{% url 'user:login'%}" class="login-button">Login</a>
    <a href="{% url 'user:register'%}" class="login-button">Register</a>
    {%else %}
    <a href="{% url 'user:logout'%}" class="login-button">Logout</a>
    {%endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>